:root {
    --primary-color: #5f2c82;
    --secondary-color: #49a09d;
    --text-color: #333;
    --background-color: #f0f4f8;
    --widget-background: #ffffff;
    --accent-color: #ffa41b;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0px;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0 0 50% 50% / 20px;
    flex: 0 1 10%; /* Make sure they don't grow too large */
    padding: 0px;
}

footer {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    color: #fff;
    text-align: center;
    margin-top: 0px;
    border-radius: 50% 50% 0 0 / 20px;
    flex: 0 1 10%; /* Make sure they don't grow too large */
    padding: 0px;
}

main {
    flex: 1 1 auto; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent content from overflowing */
}

header h1 {
    margin: 0;
    font-weight: 600;
    letter-spacing: 0px;
}

.top-section {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 0px; /* Optional: to add space between elements */
    overflow: visible;
    align-items: flex-start;
}

.bottom-section {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns the content at the bottom */
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 0px; /* Optional: to add space between elements */
    overflow: visible;
    height: 50vh; /* Reduces the section height by half */
    max-height: 100%;
}

.widget-container {
    background-color: var(--widget-background);
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    transition: all 0.3s ease;
    flex: 1 1 100%;
    display: flex;
    flex-basis: 100%;
    max-width: 80%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    margin-right: 10px;
}

.widget-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.widget-container.large {
    flex-basis: 20%;
    height: 100%;
}

.widget-container.full-width {
    flex-basis: 100%;
}

.widget-container-lectures {
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    transition: all 0.3s ease;
    flex: 1 1 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align content to the bottom inside the widget */
    max-width: 100%;
    max-height: 100%; /* Scale down widget containers */
    overflow: hidden;
    color: wheat;
}

.widget-image {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.widget-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.widget-image img:hover {
    transform: scale(1.1);
}

header h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

footer h2 {
    color: white;
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#lectures-container {
    font-size: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    text-align: center;
    width: 100%; /* Make sure the lecture container spans full width */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is accounted for inside the width */
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInDown { animation-name: fadeInDown; }
.fadeInLeft { animation-name: fadeInLeft; }
.fadeInRight { animation-name: fadeInRight; }
.fadeInUp { animation-name: fadeInUp; }

.table-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    flex-basis: 30%;
    max-height: 300px; /* Adjust iframe height */
}

.zmanim-container {
    flex: 0 0 10%;
    display: flex;
    max-width: 10%;
    max-height: 100%;
    justify-content: space-between;
    margin-top: -117px;
    flex-basis: calc(33% - 20px); /* Keep this to ensure side-by-side layout */
}

#weekdays-table table {
    direction: rtl;
}

#shabat-table table {
    direction: rtl;
}

#holiday-table table {
    direction: rtl;
}

/* Responsive design */
@media (max-width: 1200px) {
    .widget-container,
    .widget-container.large {
        flex-basis: 40%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .widget-container,
    .widget-container.large {
        flex-basis: 100%;
        max-width: 100%;
    }

    .table-container {
        flex-direction: column;
        flex-basis: 100%;
        margin: 0; /* Remove margins for full width */
        max-height: 100%; /* Reduce height for smaller screens */
    }

    .top-section, .bottom-section {
        flex-direction: column; /* Stack elements vertically on small screens */
        height: auto; /* Allow it to adjust height */
    }
}

.lecture-separator {
    text-align: center;
    color: wheat;
    font-size: 30px; /* Adjust the size of the bar */
    margin: 0px; /* Add some space above and below the bar */
    width: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;     /* Center vertically */
}

.responsive-table {
    width: fit-content;
    border-collapse: collapse;
    margin: 5px 5px;
    font-size: 24px;
    text-align: center;
    color: #003366;
    padding: 5px;

}

.responsive-table th, .responsive-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.responsive-table th {
    background-color: #f1f8ff;
    text-decoration: underline;
    padding-bottom: 5px; /* Adjust space between text and underline */
}

@media screen and (max-width: 600px) {
    .responsive-table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
        width: 100%;
    }

    .responsive-table th {
        display: none; /* Hide the headers on small screens */
    }

    .responsive-table td {
        display: block;
        text-align: right;
        padding: 10px;
        position: relative;
    }

    .responsive-table td::before {
        content: attr(data-label); /* Set content to the column header */
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

#rotating-announcements-container {
    display: inline-flex; /* Use inline-flex to let the container wrap to the size of its content */
    align-items: center;
}

#rotating-announcements {
    padding-right: 5px; /* Add some space between text and image */
    font-size: 28px;
    line-height: 1.8;
}

.flowers {
    display: none; /* Initially hidden */
    margin-left: 5px;
}