:root {
    --primary-color: #5f2c82;
    --secondary-color: #49a09d;
    --text-color: #333;
    --background-color: #f0f4f8;
    --widget-background: #ffffff;
    --accent-color: #ffa41b;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0px;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0 0 50% 50% / 20px;
    flex: 0 1 10%; /* Make sure they don't grow too large */
    padding: 0px;
}

footer {
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    color: #fff;
    text-align: center;
    margin-top: 0px;
    border-radius: 50% 50% 0 0 / 20px;
    flex: 0 1 10%; /* Make sure they don't grow too large */
    padding: 0px;
}

main {
    flex: 1 1 auto; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent content from overflowing */
}

header h1 {
    margin: 0;
    font-weight: 600;
    letter-spacing: 0px;
}

.top-section {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 0px; /* Optional: to add space between elements */
    overflow: visible;
    align-items: flex-start;
}

.bottom-section {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns the content at the bottom */
    margin-bottom: 0px;
    flex-wrap: wrap;
    gap: 0px; /* Optional: to add space between elements */
    overflow: visible;
    height: 50vh; /* Reduces the section height by half */
    max-height: 100%;
}

.widget-container {
    background-color: var(--widget-background);
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    transition: all 0.3s ease;
    flex: 1 1 100%;
    display: flex;
    flex-basis: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    margin-right: 10px;
}

.widget-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.widget-container.large {
    flex-basis: 20%;
    height: 100%;
}

.widget-container.full-width {
    flex-basis: 100%;
}

.widget-container-lectures {
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    transition: all 0.3s ease;
    flex: 1 1 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align content to the bottom inside the widget */
    max-width: 100%;
    max-height: 100%; /* Scale down widget containers */
    overflow: hidden;
}

.widget-image {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.widget-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.widget-image img:hover {
    transform: scale(1.1);
}

header h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

footer h2 {
    color: #fff;
    margin-top: 0;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#rotating-announcements {
    font-size: 22px;
    line-height: 1.8;
}

#lectures-container {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    text-align: center;
    width: 100%; /* Make sure the lecture container spans full width */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is accounted for inside the width */
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInDown { animation-name: fadeInDown; }
.fadeInLeft { animation-name: fadeInLeft; }
.fadeInRight { animation-name: fadeInRight; }
.fadeInUp { animation-name: fadeInUp; }

.iframe-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    flex-basis: 30%;
    max-height: 300px; /* Adjust iframe height */
}

.iframe-left, .iframe-right {
    width: 48%; /* Adjust this value to control the width of each iframe */
    flex: 1 1 calc(50% - 10px);
}

.iframe-left iframe, .iframe-right iframe {
    width: 100%;
    height: 100%; /* Fit within the available space */
    border: 0px;
    border-radius: 8px;
    object-fit: cover;
}

.zmanim-container {
    flex: 0 0 10%;
    display: flex;
    max-width: 10%;
    max-height: 100%;
    justify-content: space-between;
    margin-top: -65px;
    flex-basis: calc(33% - 20px); /* Keep this to ensure side-by-side layout */
}

/* If you want to adjust the heights of the iframes */
#shabat-iframe iframe {
    height: 700px;
}

#weekdays-iframe iframe {
    height: 700px;
}

.carousel-container {
    position: relative;
    max-width: 50%;
    max-height: 50%;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    flex-basis: 100%; /* This ensures the carousel takes full width between the two elements */
    margin: 100px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 500px; /* Adjust based on your preferred height */
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }
    20%, 25% {
        transform: translateX(0);
    }
    45%, 50% {
        transform: translateX(-100%);
    }
    70%, 75% {
        transform: translateX(-200%);
    }
    95%, 100% {
        transform: translateX(-300%);
    }
}

.carousel {
    animation: carouselAnimation 20s infinite;
}

.carousel:hover {
    animation-play-state: paused;
}

/* Responsive design */
@media (max-width: 1200px) {
    .widget-container,
    .widget-container.large {
        flex-basis: 40%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .widget-container,
    .widget-container.large {
        flex-basis: 100%;
        max-width: 100%;
    }

    .iframe-container {
        flex-direction: column;
    }

    .iframe-left, .iframe-right {
        width: 100%;
        margin-bottom: 0px;
        flex: 1 1 100%;
    }
    .top-section, .bottom-section {
        flex-direction: column; /* Stack elements vertically on small screens */
        height: auto; /* Allow it to adjust height */
    }
    .carousel-container, .iframe-container {
        flex-basis: 100%;
        margin: 0; /* Remove margins for full width */
        max-height: 100%; /* Reduce height for smaller screens */
    }

    .carousel-container {
        max-width: 100%;
        border-radius: 0;
        height: 200px; /* Reduce carousel height */
    }

    .carousel {
        height: 300px;
    }

    .carousel-button {
        font-size: 18px;
        padding: 10px;
    }

    .iframe-left iframe, .iframe-right iframe {
        height: 200px; /* Adjust iframe height */
    }
}

.lecture-separator {
    text-align: center;
    color: var(--primary-color); /* Use primary color for the bar */
    font-size: 20px; /* Adjust the size of the bar */
    margin: 0px; /* Add some space above and below the bar */
    width: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;     /* Center vertically */

}